body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}
.signup-page {
    min-height: 100vh;
    background: #f5f7fb;
}

.signup-card {
    width: 430px;
    border-radius: 18px;
}

.login-page {
    min-height: 100vh;
    background: #f5f7fb;
}

.login-card {
    width: 400px;
    border-radius: 18px;
}